@import url("bootstrap.css");

body {
     /*background-image: linear-gradient(rgb(149, 149, 245), rgb(11, 144, 161));*/
     background-color: aliceblue;
}

h1 {text-align: center;
     font-family: sans-serif;
     font-size: 0.9cm;
     font-weight:bolder;
     font-style: oblique;
}

#characters {
    text-decoration: none;
}
.container {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(243, 243, 250);
    
}

.box {
    width: 600px;
    height: 700px;
    display: inline-block;
    text-decoration: none;
}

.text-center {
    text-align: center;
    background-color: rgb(23, 201, 224);
    margin-bottom: 5px;
}

#logo {
    height: 20px;
    width: 20px;

}
#log {
    height: 20px;
    width: 20px;
}
#socials {
    
}
#characters {
    text-decoration: none;
}
#commentbtn {
    background-color: aquamarine;
}