@import url("bootstrap.css");

body {
     /*background-image: linear-gradient(rgb(149, 149, 245), rgb(11, 144, 161));*/
     background-color: rgb(194, 225, 252);
}

h1 {text-align: center;
     font-family: sans-serif;
     font-size: 0.9cm;
     font-weight:bolder;
     font-style: oblique;
}

#characters {
    text-decoration: none;
}
.container {
    max-width: 80%;
    background-color: rgb(194, 229, 252);
    font-family: fantasy;
    
}

.box {
    width: 600px;
    height: 700px;
    display: inline-block;
    list-style: none;
    font-size: xx-large;
}

footer.text-center {
    text-align: center;
    background-color: rgb(194, 225, 252);
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 0px;
}

#logo {
    height: 20px;
    width: 20px;
   
}
#log {
    height: 20px;
    width: 20px;
}

#characters {
    text-decoration: none;
}
#commentbtn {
    background-color: aquamarine;
}
#userinfo {
    font-style: italic;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.fav {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fav-selected > .material-symbols-outlined{
    color: black;
}
/* .fav-selected > .likeCount  */
.liked.material-symbols-outlined {
    color:rgb(247, 11, 11);
}
#intro {
    margin-left: 20px;
}